### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml

# Entorno virtual
venv/
env/
.venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración locales
*.env
*.ini
*.log
*.sqlite3

# Dependencias
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# FastAPI / Uvicorn
*.pid
*.sock

# pytest
.pytest_cache/
coverage.xml
htmlcov/
