<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Clasificación de Música Autóctona</title>
<link rel="stylesheet" href="/static/css/style.css">
 <!-- Fuente Andika New Basic -->
  <link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
     <header class="cabecera">
    <div class="overlay"></div>
    <div class="contenido">
      <img src="/static/escudou.png" 
           alt="Escudo izquierdo" class="escudo">
      
      <h1 class="titulo">
        Reconocimiento Automático de Géneros Musicales Autóctonos de Bolivia
      </h1>
      
      <img src="/static/escudoc.png" 
           alt="Escudo derecho" class="escudo">
    </div>
  </header>
    <div class="card">
        <div class="card-content">
            
            <p class="description">Arrastra un archivo WAV aquí o haz clic para seleccionarlo.</p>

            <div id="dropZone" class="drop-zone">
                
                <p id="dropText">Arrastra tu archivo aquí</p>
                <input type="file" id="audioFile" accept=".wav" hidden>
            </div>

            <button id="uploadBtn" class="btn">Subir y predecir</button>
        </div>
    </div>
    <div id="loader" class="loader" style="display:none;"></div>

    <div id="resultadoContainer"></div>

    <section id="caracteristicas-section" class="section">
    <h2>Características</h2>
    <div id="caracteristicas-container" class="cards-container"></div>
    </section>

    <section id="instrumentos-section" class="section">
    <h2>Instrumentos musicales</h2>
    <div id="instrumentos-container" class="cards-container"></div>
    </section>


    <script src="/static/js/result.js"></script>
</body>
</html>
